<!--<div class="content-container">
  <mat-toolbar class="sidenav-content-toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon class="material-icons" (click)="sidenav.toggle()"
          >menu</mat-icon
        >
      </button>
      <h1 class="ml-2">Sigma Control Panel</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'"> Accounts </a>
        <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
      </div>
      <div class="ml-auto">
        <button type="button" mat-button class="ml-auto logoutButton">Log Out</button>
      </div>
    </mat-toolbar-row>
    <mat-divider></mat-divider>
    <mat-toolbar-row>
      <button *ngIf="page === 'address'"
          mat-icon-button
          class="menu-button"
          type="button"
          matTooltip="Add New Address"
          [matTooltipPosition]="'right'"
          (click)="chooseAction('add')"
        >
          <mat-icon class="material-icons">add</mat-icon>
      </button>
      <button *ngIf="page === 'language'"
          mat-icon-button
          class="menu-button"
          type="button"
          matTooltip="Add New Language"
          [matTooltipPosition]="'right'"
          (click)="chooseAction('add')"
        >
          <mat-icon class="material-icons">add</mat-icon>
      </button>
      <button *ngIf="page === 'language'"
          mat-icon-button
          class="menu-button"
          type="button"
          matTooltip="View the list of languages"
          [matTooltipPosition]="'right'"
          (click)="chooseAction('view')"
        >
          <mat-icon class="material-icons">list</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      class="sidenav"
      fixedInViewport="false"
      [attr.role]="'navigation'"
      mode="over"
      [(opened)]="opened"
      role="navigation"
    >
      <mat-nav-list class="navigation-list">
        <a
          class="navigation-item home-button"
          mat-list-item
          routerLink="home"
          routerLinkActive="active"
          matTooltip="Home"
          [matTooltipPosition]="'right'"
          (click)="deactivateSettingRouterLink(); page='home'"
          id="homeButton"
        >
          <mat-icon class="material-icons">home</mat-icon>
        </a>
        <mat-divider></mat-divider>
        <a
        class="navigation-item"
        mat-list-item
        matTooltip="Sigma Setings"
        [matTooltipPosition]="'right'"
        [matMenuTriggerFor]="settings"
        [class.active]="isSettingRouterLinkActivated"
        >
        <mat-icon class="material-icons">settings</mat-icon>
        </a>
        <mat-menu #settings="matMenu">
          <a
          mat-menu-item
          routerLink="address"
          routerLinkActive="active"
          matTooltip="address"
          [matTooltipPosition]="'right'"
          (click)="activateSettingRouterLink(); page='address'"
          >
          <mat-icon class="material-icons">location_on</mat-icon>
          </a>

          <a
          mat-menu-item
          routerLink="language"
          matTooltip="language"
          [matTooltipPosition]="'right'"
          (click)="activateSettingRouterLink(); page='language'"
          >
          <mat-icon class="material-icons">language</mat-icon>
          </a>
        </mat-menu>
        <mat-divider></mat-divider>
        <a
          class="navigation-item"
          mat-list-item
          routerLink="help"
          routerLinkActive="active"
          matTooltip="Help Center"
          [matTooltipPosition]="'right'"
          (click)="deactivateSettingRouterLink(); page='help-center'"
        >
          <mat-icon class="material-icons">help_center</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" role="navigation">
      <div>
        <router-outlet> </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>-->

<div [class]="'theme-wrapper ' + (theme$ | async)">

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="push">
      <div class="branding"><img [src]="logo" [alt]="logo"/>
        <span>{{ 'sigma.title.short' | translate}}</span></div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"
          routerLinkActive="active">
          {{item.label | translate}}
        </a>
        <a mat-list-item href="https://github.com/tomastrajan/angular-ngrx-material-starter" target="_blank" rel="noopener noreferrer">
          Github
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="wrapper">

      <div class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="(stickyHeader$ | async)">
        <mat-toolbar color="primary">
          <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
            <fa-icon icon="bars"></fa-icon>

          </button>

          <span routerLink="" class="branding spacer center d-inline d-sm-none">
            <img [src]="logo" [alt]="logo"/></span>
          <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo" [alt]="logo"/> {{
            'sigma.title.short' | translate }}</span>
          <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo"[alt]="logo" /> {{ 'sigma.title.long' | translate
            }}</span>

          <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
              routerLinkActive="active">
              {{item.label | translate}}
            </button>
          </span>

          <button mat-button mat-stroked-button color="accent" *ngIf="!(isAuthenticated$ | async)" (click)="onLoginClick()">
            {{ 'sigma.menu.login' | translate }}
          </button>

          <button *ngIf="(isAuthenticated$ | async)"
                  mat-icon-button
                  [matMenuTriggerFor]="toolbarUserMenu">
            <fa-icon icon="user-circle"></fa-icon>
          </button>
          <mat-menu #toolbarUserMenu="matMenu">
            <button mat-menu-item (click)="onLogoutClick()">
              <mat-icon><fa-icon icon="power-off"></fa-icon></mat-icon>
              <span>{{ 'sigma.menu.logout' | translate }}</span>
            </button>
          </mat-menu>

          <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
            <fa-icon icon="cog"></fa-icon>
          </button>

          <a [matTooltip]="'sigma.header.github' | translate"
             matTooltipPosition="before"
             mat-icon-button
             class="link d-none d-sm-inline"
             href="https://github.com/tomastrajan/angular-ngrx-material-starter"
             target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab','github']"></fa-icon>
          </a>

          <span *ngIf="language$ | async as language">
            <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
              <mat-option *ngFor="let l of languages" [value]="l">
                {{ l.toUpperCase() }}
              </mat-option>
            </mat-select>
          </span>
        </mat-toolbar>
      </div>

      <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data.title">
        <router-outlet #o="outlet"></router-outlet>
      </div>

      <div class="footer">
        <div class="row">
          <div class="col-sm-12 links">
            <a href="https://www.github.com/tomastrajan" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="['fab','github']"></fa-icon>
              <span>Github</span>
            </a>
            <a href="https://www.medium.com/@tomastrajan" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="['fab','medium-m']"></fa-icon>
              <span>Medium</span>
            </a>
            <a href="https://www.twitter.com/tomastrajan" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="['fab','twitter']"></fa-icon>
              <span>Twitter</span>
            </a>
            <a href="https://www.youtube.com/channel/UC7XgRHIVoqnh3U5Vmly9ofQ"
               target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="['fab','youtube']"></fa-icon>
              <span>Youtube</span>
            </a>
            <a href="https://www.instagram.com/tomastrajan" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="['fab','instagram']"></fa-icon>
              <span>Instagram</span>
            </a>
            <a href="https://www.slides.com/tomastrajan" target="_blank" rel="noopener noreferrer">
              <fa-icon icon="play-circle"></fa-icon>
              <span>Slides</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 signature">
            &#169; <span class="year">{{year}}</span> - Sigma
            <br class="d-block d-sm-none">
            <a [matTooltip]="'sigma.footer.changelog' | translate"
               matTooltipPosition="before"
               href="https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CHANGELOG.md">
              <fa-icon icon="rocket"></fa-icon>
              {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
            </a>
          </div>
        </div>
      </div>

    </div>

  </mat-sidenav-container>

</div>
