<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form class="login-form">
      <mat-card-content>
        <mat-form-field appearance="fill" class="login-full-width">
          <mat-label>username</mat-label>
          <input matInput  class="input-field" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="login-full-width">
          <mat-label>password</mat-label>
          <input matInput type="password"/>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="actions" flex>
        <button mat-raised-button color="primary" id="loginButton">Login</button>
        <div style="display: inline;">
          <button mat-raised-button class="btn btn-success ml-0 mt-5" style="float: left;">Sign Up</button>
          <a href="#" style="float: right; font-size: 80%;" class="mt-5">Forgot password?</a>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
